* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 320px;
    background-color: rgb(200,200,200);
    /* max-width: 500px; */
}

/* .body_sub_div {
    width: 100%;
    display: flex;
    justify-content: center;
} */

.picture_name {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
    width: 100%;
    flex-basis: 375px;
    background-color: blueviolet;
    /* background-color: rgb(8, 145, 178); */
}

.picture_name_sub {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    /* width: 50px;
    height: 50px; */
    translate: -50% -50%;
    background-color: yellow;
}

.mobile_picture_container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: aqua;
}

.mobile_picture {
    width: 100%;
    height: 100%;
}

.mobile_picture2 {
    /* max-width: 99%; */
    top: 5%;
    width: 70%;
    /* padding: 5% 5% 18% 5%; */
    /* margin: 20%; */
    height: auto;
    position: absolute;
    /* z-index: 2; */
}

.picture_text {
    position: absolute;
    color: black;
    top: 80%;
    left: 50%;
    translate: -40%;
}

.picture_text > p {
    font-size: 2rem;
}

.about {
    /* background-color: brown; */
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.about_title {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.about_text > p {
    padding: 0rem .7rem .5rem .7rem;
}

.about_links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: .75rem;
    padding-bottom: 3rem
}

.link_icon {
    width: 2rem;
    height: auto;
}

.projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.projects_heading {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.projects_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.project_individual {
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
    /* height: 100px; */
    
}

.project_screenshot {
    height: 18rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkorange;
}

.project_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.project_name_links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: white;
}

